<div class="post-short">
  <div class="post-date center-container">
      <div class="post-date-text absolute-center">
        {{date-time date=publishedAt dateOnly=true}}
        <br/>
        {{date-time date=publishedAt timeOnly=true}}
      </div>
  </div>
  <div class="post-content">
    {{link-to title "post.index" model class="title"}}
    <div class="by">by {{authorName}}</div>
    <div class="content">{{{html}}}</div>
  </div>
</div>