<div id="top-nav">
  <div class="nav-item">
    <div id="title" {{action "index"}}>Emblog</div>
  </div>
  {{#if session.currentUser.isContributor}}
    <div class="nav-item">
      {{#link-to "posts.my"}}My Posts{{/link-to}}
    </div>
  {{/if}}

  {{#hover-able hovering=hoveringOnGravatar}}

    <div id="id-panel" class="nav-item">
      {{#if session.isAuthenticated}}
        {{grav-atar email=email}}
      {{else}}
        <img src="img/topcoat/user.svg" height="18px" width="18px" >
      {{/if}}
    </div>

    <div id="id-form" {{bind-attr class="hideIdForm:hidden"}} >
      {{#if session.isAuthenticated}}
        <button {{action 'invalidateSession' }} class="topcoat-button--quiet">Logout</button>
      {{else}}
        <button {{action 'authenticateSession' }} class="topcoat-button--quiet">Login</button>
      {{/if}}
    </div>

  {{/hover-able}}
</div>
